<div class="flex flex-column justify-content-center align-items-center h-full">
	<div class="card p-fluid sm:w-full md:w-20rem p-2">
		<h2>Regístrate</h2>
		<div class="field">
			<label htmlFor="email">Email</label>
			<input pInputText pAutoFocus [autofocus]="true" id="email" type="text" placeholder="your-email@example.com"/>
		</div>
		<div class="field">
			<label htmlFor="password">Password</label>
			<p-password inputId="password" [feedback]="false" placeholder="type your password"></p-password>
		</div>
		<div class="field">
			<p-button icon="fa-solid fa-check" label="Sign up"></p-button>
		</div>
		<div class="field">
			<a routerLink="../sign-in">¿Ya tienes una cuenta?</a>
		</div>
	</div>
</div>
